<!DOCTYPE html>
<html>
    <head th:replace="layout/layout :: head">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>

        <div class="wrapper">
            <div th:replace="layout/layout :: menu">
      
            </div>
      
        
            <!-- =====================BARRA DE NAVEGACION===================== -->
            <div th:replace="layout/layout :: menu_lateral">
      
            </div>
            <!-- =====================BARRA DE NAVEGACION===================== -->
      
            <!-- =====================CONTENIDO DE LA PAGINA===================== -->
            <div class="main-panel">
                <div class="main-content">
                    <div class="content-wrapper">
                        <div class="container-fluid"><!-- Search form-->
                            <section id="search-website" class="card overflow-hidden">
                            <div class="card-header">


                            <h3 class="tile-title">LISTA TIPO LIBRO</h3>
                            <table class="table">
                                <thead>
                                  <tr>
                                    <td>Tipo Libro</td>
                                    <td>Estado</td>
                                    <td>Operaciones</td>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr th:each ="t : ${tipolibros}" th:if="${t.estado != 'X'}">
                                    <th th:text = "${t.tipolibro}">Tipo Libro</th>
                                    <td th:text = "${t.estado}">Estado</td>
                                    <td>
                                        <a th:href="${'../../../../editar-tipolibro/' + t.id_tipolibro}" class="btn btn-warning">Editar</a>
                                        <a th:href="${'../../../../eliminar-tipolibro/' + t.id_tipolibro}" class="btn btn-danger">Eliminar</a>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>

                            </div>
                            <div class="card-body">
                            </div>
                            </section>
                            <!--/ Search form -->
                        </div>
                    </div>
                </div>
            </div>
    </body>
</html>